*{
  font-family: 'Ropa Sans', sans-serif;
}

html, body {
  margin: 0;
  width: 1920px;
  height: 3000px;
  overflow: hidden;
}
#footer {
  background-image: url('/visualization/footer.png');
}
.row {
  display: block;
  width: 1920px;
  height: 300px;
  color: white;
  text-align: center;
  font-size: 100px;
  line-height: 250px;
}

.triangles {
  fill: none;
}

.links {
  stroke: rgba(255, 255, 255, .55);
  stroke-width: 1px;
}

.sites {
  fill: rgb(255, 239, 187);
  stroke: rgba(195, 0, 255, 1);

}

.triangles .primary {
  fill: rgba(0, 11, 167, 0.315);
}

.links .primary {
  stroke: rgba(0, 140, 255, 0.562);
}

.sites .sensor {
  fill: rgba(31, 0, 102, 0.76);
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

.level {
  position: relative;
  height: 300px;
}

  .level-indicator {
    position: absolute;
    font-size: 52px;
    top: 20px;
    left: 30px;
  }

.textballoon {
    position: relative;
    padding-left: 50px;
    width: 90%;
    height: auto;
    border: 20px solid transparent;
    border-width: thick;
    border-color: rgba(255, 255, 255, 0.45);
    background: rgba(255, 255, 255, 0.849);
    border-radius: .4em;
    color: rgba(0,0,0);
    font-size: 60px;
    margin-bottom: 120px;
  }

  .textballoon:after {
    content: '';
    position: absolute;
    left: 0%;
    top: 50%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right-color: rgba(255, 255, 255, 0.65);
    border-left: 0;
    border-bottom: 0;
    margin-top: -20px;
    margin-left: -40px;
  }

  .empty {
    visibility: none;
  }

  .UFO {
    height: 250px;
    padding-bottom: 50px;
    padding-left: 150px; 
    padding-right: 50px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  
.goal {
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
}

.goal-message {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 900;
  font-size: 24px;
  color: white;
}


#svg_0{
  padding-left: -50px;
}

#svg__1{
  padding-left: -200px;
  margin-top: -25px;
}

#svg_2{
  margin-left: 50px;
}

#svg_3{
  margin-top: 25px;
}
.winner {
  padding: 0;
  margin: 0;
  transform-origin: center center;
  z-index: 100;
  overflow: visible;
  animation-name: victory;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes victory {
  from {
    /* height: 250px; */
    transform: rotate(20deg) scale(1);
    transform-origin: center center;
  }

  to {
    /* height: 500px; */
    transform: rotate(-20deg) scale(1.4);
    transform-origin: center center;
  }
}

